body {
    background-color:#75D8FF;
}
.mlink:link {
    color:#58ED85;
    text-decoration:none;
}
.mlink:visited {
    color:#46bb69;
}
.mlink, .link:hover {
    font-weight:bold;
}
.link:link {
    color:#e06024;
    text-decoration:none;
}
.link:visited {
    color:#CF5821;
}
.textbox {
    height:auto;
    width:500px;
    background-color:#24A8E0;
    border-radius:20px;
    margin:auto;
    position:relative;
    margin-top:20px;
    font-size:25px;
    font-family:sans-serif;
    text-align:center;
    padding:10px;
}
#top {
    height:100px;
    width:500px;
    background-color:#7729FF;
    font-size:50px;
    font-family:sans-serif;
    margin:auto;
    text-align:center;
    border-radius:20px;
    line-height:100px;
}
#menu {
    height:auto;
    width:125px;
    background-color:#8929FF;
    border-radius:20px;
    font-family:sans-serif;
    font-size:25px;
    margin-top:-100px;
    position:fixed;
    text-align:center;
    padding:10px;
    top:50%;
}
p {
    font-size:15px;
    text-align:center;
}
.text {
    text-align:justify;
}
